.menu{
  padding: 10px;
  margin-top: 5px;
}

.right-menu{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 45px;
}

.tik{
  margin-left: 145px;
}

.header{
  margin-top: 12px;
  padding: 6px 0;
}

.advanced{
  width:18px;
}

gradient-text {
 color: #33ccff;
}

.dropdown-item {
  padding: 0px;
}