<div class="container-fluid chat-container">
  <div class="row">
    <div class="sidebar">
<app-sidebar></app-sidebar>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" routerLink="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          kodicart
        </a>
        <ul class="dropdown-menu menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="d-flex align-items-center">
            <a class="dropdown-item">
            <img src="../../../public/assets/kodicart_sparkle_.svg" class="advanced mx-2" routerLink="#" alt="kodicart">
            kodicart<i class="bi bi-check-circle tik"></i></a>
          </li>
          <li class="d-flex align-items-center">
            <a class="dropdown-item">
            <img src="../../../public/assets/kodicart_sparkle_v002_advanced.svg" class="advanced mx-2" routerLink="#" alt="kodicart_Advanced">kodicart Advanced</a>
            <a class="btn btn-light w-100">Upgrade</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <img class="advanced" src="../../../public/assets/kodicart_sparkle_v002_advanced.svg" alt="kodicart_Advanced">
            Try kodicart Advanced
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><i class="bi bi-grid-3x3-gap-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-message></app-message>