.menu{
  padding: 10px;
}


.form-control{
  border-radius: 30px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 50px; /* Adjust based on the icon size */
}

.input-wrapper .icon {
  position: absolute;
  right: 35px; /* Adjust based on the icon size and spacing */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-wrapper .bi-mic {
  right: 10px; /* Adjust the position of the second icon */
}
