/* sidebar.component.css */

.sidebar-card {
    width: 250px;
    margin: 20px;
  }
  
  .sidebar-avatar {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .mat-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .mat-card-subtitle {
    font-size: 14px;
    color: #666;
  }
  